<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
	<div id="wrapper">
		<div align="center">
			<h2 class="brown-text">
				<img class="border-resize"
					src="http://2.bp.blogspot.com/-ShuRVrIaSvA/USMNj7THdsI/AAAAAAAAIV4/X8WVshITaHY/s1600/red1.jpg">
				<p>Homeowners Insurance</p>
			</h2>
			<div class="topnav" th:if="${session.user} != null">
				<a class="active" href="/home">Home |</a>
				<a href="/getQuote">Get Quote |</a>
				<a href="/retrieveQuote">Retrieve Quote |</a>
				<a href="/myPolicy">My Polices |</a>
				<a href="/logout">Logout</a>
			</div>
			
			<div class="topnav" th:if="${session.user} == null">
				<a class="active" href="/index.html">Home |</a>
				<a href="/login">Login |</a>
				<a href="/register">Register |</a>
			</div>
		</div>
	</div>
	<hr />
	<div align="center">
		<h2 class="brown-text">Get started</h2>

	</div>
	<div class="row">
		<div class="column">
			<div align="right">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Ranch_style_home_in_Salinas%2C_California.JPG/220px-Ranch_style_home_in_Salinas%2C_California.JPG">
			</div>
		</div>
		<div class="column" th:if="${session.user} != null">
			<div align="left">
				<a href="/getQuote">
					<button type="submit" class="btn btn-success">Get a Quote</button>
				</a>
			</div>
			<br>
			<div align="left">
				<button type="submit" class="btn btn-success">Retrieve a Quote</button>
			</div>
		</div>
		<div class="column" th:if="${session.user} == null">
			<div align="left">
				<a href="/login">
					<button type="submit" class="btn btn-success">Login</button>
				</a>
			</div>
			<br>
			<div align="left">
				<a href="/register">
					<button type="submit" class="btn btn-success">Register</button>
				</a>
			</div>
		</div>
	
	</div>
	<hr />
<div align="center">
	<h2 class="brown-text">Copyright © 2020 Home Owners Insurance
		All Rights Reserved</h2>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>


</html>